/* Login.css */
.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
  }
  
  .form-container h2 {
    font-size: 2.5rem;
    margin-bottom: 30px;
  }
  
  .form-container form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 5px;
    background-color: rgba(237,28,36,255);
  }
  
  .form-container label {
    font-size: 1.2rem;
    margin-bottom: 10px;
  }
  
  .form-container input {
    font-size: 1.2rem;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 100%;
    margin-bottom: 20px;
  }
  
  .form-container button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 1.2rem;
    border: none;
    border-radius: 5px;
    /* background-color: #0077cc; */
    background-color: rgb(12,32,96);
    color: white;
    cursor: pointer;
  }